/jcOWL.Lib/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
/jcOWL.Lib/Debug/AssemblyInfo.obj
/jcOWL.Lib/Debug/Stdafx.obj
/jcOWL.Lib/Debug/app.res
/jcOWL.Lib/Debug/jcOWL.Lib.Build.CppClean.log
/jcOWL.Lib/Debug/jcOWL.Lib.log
/jcOWL.Lib/Debug/jcOWL.Lib.pch
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/CL.read.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/CL.write.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/TZRES.DLL.bi
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/cl.command.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/jcOWL.Lib.lastbuildstate
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/link.command.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/link.read.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/link.write.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/metagen.read.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/metagen.write.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/rc.command.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/rc.read.1.tlog
/jcOWL.Lib/Debug/jcOWL.Lib.tlog/rc.write.1.tlog
/jcOWL.Lib/Debug/jcOWLManager.obj
/jcOWL.Lib/Debug/vc140.pdb
/.vs/jcOWL/v14/.suo
/Debug/jcOWL.Lib.dll
/Debug/jcOWL.Lib.dll.metagen
/Debug/jcOWL.Lib.pdb
/ipch/JCOWL.LIB-4b6b6532/JCOWL.ipch
/jcOWL.ConsoleTest/bin/Debug/jcOWL.ConsoleTest.exe
/jcOWL.ConsoleTest/bin/Debug/jcOWL.ConsoleTest.exe.config
/jcOWL.ConsoleTest/bin/Debug/jcOWL.ConsoleTest.pdb
/jcOWL.ConsoleTest/bin/Debug/jcOWL.ConsoleTest.vshost.exe
/jcOWL.ConsoleTest/bin/Debug/jcOWL.ConsoleTest.vshost.exe.config
/jcOWL.ConsoleTest/bin/Debug/jcOWL.ConsoleTest.vshost.exe.manifest
/jcOWL.ConsoleTest/bin/Debug/jcOWL.Lib.dll
/jcOWL.ConsoleTest/bin/Debug/jcOWL.Lib.pdb
/jcOWL.ConsoleTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcOWL.ConsoleTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcOWL.ConsoleTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcOWL.ConsoleTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcOWL.ConsoleTest/obj/Debug/jcOWL.ConsoleTest.csproj.FileListAbsolute.txt
/jcOWL.ConsoleTest/obj/Debug/jcOWL.ConsoleTest.csprojResolveAssemblyReference.cache
/jcOWL.ConsoleTest/obj/Debug/jcOWL.ConsoleTest.exe
/jcOWL.ConsoleTest/obj/Debug/jcOWL.ConsoleTest.pdb
/jcOWL.opensdf
/jcOWL.sdf
